{% load song_duration_format %}
{% load crispy_forms_tags %}

<h3>Songs</h3>
<input type="search"
	class="form-control my-2"
	placeholder="Search"
	name="search-text"
	id="search-input"
	hx-post="{% url 'search-songs' %}"
	hx-trigger="input changed delay:500ms, search"
	hx-target="#search-results"
>

<div class="d-flex justify-content-between align-items-center mb-1">
	<div>{{ count }} Songs, {{ total_duration | format_total_duration }}</div>
	<button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#add-modal">Add</button>
</div>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th scope="col">Count</th>
			<th scope="col">Name</th>
			<th scope="col">Duration</th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody id="search-results">
		{% include 'songs/search-results.html' %}
	</tbody>
</table>