{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row pt-5">
		<div class="col-xl-4 offset-xl-4">

			<div class="card">
				<div class="card-header">
					Enter New Password
				</div>
				<div class="card-body">
					{% if validlink %}
					<form method="post">
						{% csrf_token %}
						{{ form|crispy }}
						<input class="btn btn-primary" type="submit" value="Change Password">
					</form>
					{% else %}
					<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
					{% endif %}
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}